<footer class="principal-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="row">
                    <div class="col-xl-3">
                        <figure class="logo-footer">
                            <img src="themes/custom/mikes/dist/img/mikes-icon.png" alt="logo-footer"
                                title="logo-footer">
                        </figure>
                    </div>

                    <div class="col-xl-9">
                        <div class="block-txt-legal">
                            <p>El exceso de alcohol es perjudicial para la salud</p>
                            <p>No comparta este contenido con menores de edad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="block-links">
                    <ul>
                        <li><a href="https://www.ab-inbev.com">2019 Anheuser-Bush InBev S.A</a></li>
                        <li><a
                                href="https://www.backus.pe/sites/default/files/2020-02/POLITICA_DE_PROTECCION_DE_DATOS_PERSONALES_PERU.pdf">Política
                                de protección de datos Perù</a></li>
                        <li><a href="https://www.tapintoyourbeer.com/agegate?destination=">Hablemos de alcohol</a></li>
                        <li><a href="http://backus.pe/servicio-al-cliente/">Contáctenos</a></li>
                        <li><a
                                href="https://www.backus.pe/sites/default/files/2020-02/POLITICA_DE_PROTECCION_DE_DATOS_GLOBAL.pdf">Política
                                de protección datos global</a></li>
                        <li><a
                                href="https://www.backus.pe/sites/default/files/2020-02/SOLICITUD_EJERCICIO_DERECHOS_ARCO.pdf">Ejercicio
                                Derechos Arco</a></li>
                        <li><a
                                href="https://www.backus.pe/sites/default/files/2020-08/TERMINOS%20Y%20CONDICIONES%20GENERALES%20-%20PA%CC%81GINAS%20Y%20APLICACIONES%20%28PERU%29.pdf">Términos
                                y condiciones generales</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="block-social">
                    <div class="row">
                        <div class="col-4">
                            <a href="https://www.facebook.com/Mikes-Per%C3%BA-102772581147200/" target="_blank">
                                <figure>
                                    <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/facebook-logo.png"
                                        alt="Icon" title="Icon">
                                </figure>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/mikesperu/" target="_blank">
                                <figure>
                                    <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/instagram.png"
                                        alt="Icon" title="Icon">
                                </figure>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.youtube.com/channel/UCkpMwPKiNjxAZ5qG6whu1Kw?view_as=subscriber"
                                target="_blank">
                                <figure>
                                    <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/youtube-v1.png"
                                        alt="Icon" title="Icon">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>