<section id="block-history" class="block-history">
    <div class="container">
        <header class="block-title">
            <h3 class="title principal-title color-white bold">Mike’s Hard Lemonade</h3>
            <h4 class="title principal-title color-white regular">llegó para quedarse</h4>
            <h5 class="title small-title color-yellow bold">y hacer tus previos más divertidos.</h5>
        </header>

        <div class="block-text">
            <p class="color-white light">Hecha con jugo de limón real y con un toque de vodka, es la bebida refrescante
                de sabor intenso que pasa fácil y que te sorprenderá porque es deliciosamente diferente. </p>

            <p class="color-white bold">Así que ya sabes, cuando te juntes con tus amigos, lleva limonada… <span
                    class="color-yellow bold">lleva MIKE’S.</span></p>

            <div class="block-icons">
                <div class="row">
                    <div class="col-6">
                        <p>No usar:</p>
                    </div>
                    <div class="col-2">
                        <figure>
                            <img src="https://www.mikesperu.com.pe//modules/custom/ab_core/dist/img/not-icon-01.png">
                        </figure>
                    </div>
                    <div class="col-2">
                        <figure>
                            <img src="https://www.mikesperu.com.pe//modules/custom/ab_core/dist/img/not-icon-02.png">
                        </figure>
                    </div>
                    <div class="col-2">
                        <figure>
                            <img src="https://www.mikesperu.com.pe//modules/custom/ab_core/dist/img/not-icon-03.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>


        <div class="block-warning">
            <p><span>Tomar Bebidas Alcohólicas en exceso es dañino</span></p>
        </div>
    </div>
</section>