<div class="path-agegate">

    <section class="mikes-agegate">
        <div class="block-wrapper">
            <div class="container">
                <figure class="block-logo">
                    <img src="https://www.mikesperu.com.pe/themes/custom/mikes/dist/img/mikes-logo-v2.png"
                        alt="logo-mikes" title="logo-mikes">
                </figure>

                <div class="block-form">
                    <div data-drupal-messages-fallback="" class="hidden"></div>
                    <div id="block-mikes-content" class="block block-system block-system-main-block">


                        <div class="content">

                            <form class="agegate-form" data-drupal-selector="agegate-form"
                                action="/agegate?destination=/" method="post" id="agegate-form" accept-charset="UTF-8"
                                #agegateForm="ngForm" (ngSubmit)="onSubmit(agegateForm.value)">
                                <div class="block-title">
                                    <h2 class="title">Para continuar con la experiencia debes ser mayor de edad</h2>
                                </div>
                                <div data-drupal-selector="edit-row-1" id="edit-row-1"
                                    class="js-form-wrapper form-group col-auto">
                                    <div data-drupal-selector="edit-row-2" id="edit-row-2"
                                        class="js-form-wrapper form-group col-auto">


                                        <fieldset
                                            class="js-form-item js-form-type-number form-type-number js-form-item-day form-item-day form-no-label form-group col-auto">
                                            <input ngModel maxlength="2"
                                                oninput="javascript: if (this.value.length >= this.maxLength) {this.value = this.value.slice(0, this.maxLength); document.getElementById(&quot;edit-month--2&quot;).focus();}"
                                                data-drupal-selector="edit-day" type="number" id="edit-day--2"
                                                name="day" value="" step="1" min="1" max="31" placeholder="00"
                                                class="form-number required form-control" required="required"
                                                aria-required="true">

                                        </fieldset>



                                        <fieldset
                                            class="js-form-item js-form-type-number form-type-number js-form-item-month form-item-month form-no-label form-group col-auto">
                                            <input ngModel maxlength="2"
                                                oninput="javascript: if (this.value.length >= this.maxLength) {this.value = this.value.slice(0, this.maxLength); document.getElementById(&quot;edit-year&quot;).focus();}"
                                                data-drupal-selector="edit-month" type="number" id="edit-month--2"
                                                name="month" value="" step="1" min="1" max="12" placeholder="00"
                                                class="form-number required form-control" required="required"
                                                aria-required="true">

                                        </fieldset>



                                        <fieldset
                                            class="js-form-item js-form-type-number form-type-number js-form-item-year form-item-year form-no-label form-group col-auto">
                                            <input ngModel maxlength="4"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                data-drupal-selector="edit-year" type="number" id="edit-year"
                                                name="year" value="" step="1" min="1920" max="2021" placeholder="0000"
                                                class="form-number required form-control" required="required"
                                                aria-required="true">

                                        </fieldset>
                                    </div>
                                    <div data-drupal-selector="edit-row-3" id="edit-row-3"
                                        class="js-form-wrapper form-group col-auto"><button
                                            data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op"
                                            value="Entrar"
                                            class="button js-form-submit form-submit btn btn-primary">Entrar</button>
                                    </div>
                                </div>
                                <div class="block-labels">
                                    <div class="row">
                                        <div class="col-4 col-sm">
                                            <p class="dd">Día</p>
                                        </div>
                                        <div class="col-4 col-sm">
                                            <p class="mm">Mes</p>
                                        </div>
                                        <div class="col-4 col-sm">
                                            <p class="yy">Año</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-btn">
                                    <div class="btn btn-agegate"><span>Entrar</span></div>
                                </div>
                                <div data-drupal-selector="edit-row-4" id="edit-row-4"
                                    class="js-form-wrapper form-group col-auto">


                                    <div
                                        class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-remember form-item-remember">
                                        <input ngModel data-drupal-selector="edit-remember" type="checkbox"
                                            id="edit-remember" name="remember" value="1"
                                            class="form-checkbox form-check-input">
                                        <label
                                            class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-remember form-item-remember form-check-label"
                                            for="edit-remember">
                                            Recordarme en este equipo
                                        </label>
                                    </div>
                                    <div class="recordar-datos">No deberías seleccionar "recordar mis datos" si
                                        compartes
                                        este computador con menores de edad.</div>
                                </div>
                                <div class="facebook_wrapper">
                                    <div class="row">
                                        <div class="col-sm col-facebook">
                                            <div id="block-fboauth-connect" class="fb-login-button d-block mr-auto"
                                                data-scope="email, public_profile" data-max-rows="1" data-size="large"
                                                data-button-type="login_with" data-show-faces="false"
                                                data-use-continue-as="true" data-auto-logout-link="false">
                                                conectar con facebook
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="legal-facebook">
                                                <p>*Al hacer Facebook connect aceptas los términos y condiciones y las
                                                    políticas de privacidad de nuestro website</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>


                </div>

                <div class="block-warning">
                    <p>Tomar Bebidas Alcohólicas en exceso es dañino</p>
                </div>
            </div>
        </div>
    </section>
</div>