<section class="block-banner">
    <owl-carousel-o class="owl-box" [options]="customOptions">
        <ng-template carouselSlide class="owl-item">
            <div class="item">
                <div class="wrapper-img">
                    <picture>
                        <source media="(max-width: 767px)"
                            srcset="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-01-sm.jpg">
                        <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-01.jpg"
                            title="lataBaja" alt="lataBaja">
                    </picture>
                </div>

                <div class="container">
                    <div class="wrapper-box">
                        <div class="box-text">
                            <p class="txt-white">¡ADVERTENCIA!</p>
                            <p class="txt-black">Esta lata</p>
                            <p class="txt-black">Te Sorprenderá</p>
                            <div class="block-btn block-btn-rappi">
                                <a href="https://www.rappi.com.pe" target="_blank" class="btn btn-rappi">¡Pídela
                                    aquí!</a>
                            </div>
                        </div>

                        <div class="block-warning">
                            <p>Tomar bebidas alcohólicas en exceso es dañino.</p>
                        </div>

                        <div class="scroll-item" id="scroll-banner">
                            <p>Baja</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide class="owl-item">
            <div class="item">
                <div class="wrapper-img">
                    <picture>
                        <source media="(max-width: 767px)"
                            srcset="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-02-sm.jpg">
                        <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-02.jpg"
                            title="lataBaja" alt="lataBaja">
                    </picture>
                </div>

                <div class="container">
                    <div class="wrapper-box">
                        <div class="box-text">
                            <p class="txt-white">It's lemonade,</p>
                            <p class="txt-black">It's Vodka</p>
                            <p class="txt-black">It's Mike’s</p>

                            <div class="block-btn">
                                <a href="#block-history" class="btn">¿Qué es?</a>
                            </div>
                        </div>

                        <div class="block-warning">
                            <p>Tomar bebidas alcohólicas en exceso es dañino</p>
                        </div>

                        <div class="scroll-item" id="scroll-banner">
                            <p>Baja</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide class="owl-item">
            <div class="item">
                <div class="wrapper-img">
                    <picture>
                        <source media="(max-width: 767px)"
                            srcset="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-03-sm-v2.jpg">
                        <img src="https://www.mikesperu.com.pe/sites/default/files/2019-12/banner-03-v2.jpg"
                            title="lataBaja" alt="lataBaja">
                    </picture>
                </div>

                <div class="container">
                    <div class="wrapper-box">
                        <div class="box-text">
                            <p class="txt-black">Esto se</p>
                            <p class="txt-black">va a poner</p>
                            <p class="txt-black">interesante</p>

                            <div class="block-btn">
                                <a href="#form-register" class="btn">DESCUBRE CÓMO</a>
                            </div>
                        </div>

                        <div class="block-warning">
                            <p>Tomar bebidas alcohólicas en exceso es dañino</p>
                        </div>

                        <div class="scroll-item" id="scroll-banner">
                            <p>Baja</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>