<section id="form-register" class="block-form-landing">
    <div class="container">
        <header class="block-title">
            <h1 class="title">SABOREA LO INESPERADO</h1>
            <p>LLENA TUS DATOS Y MUY PRONTO TE SORPRENDEREMOS</p>
        </header>

        <div class="box-form">

            <form class="ab-core-core" data-drupal-selector="ab-core-core" action="/home" method="post"
                id="ab-core-core" accept-charset="UTF-8" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
                <div data-drupal-selector="edit-box-row-left" id="edit-box-row-left"
                    class="js-form-wrapper form-group col-auto">


                    <fieldset
                        class="js-form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name form-no-label form-group col-auto">
                        <input ngModel placeholder="NOMBRES" td-type="firstname" data-drupal-selector="edit-name" type="text"
                            id="edit-name" name="name" value="" size="60" maxlength="128"
                            class="form-text required form-control" required="required" aria-required="true">

                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-textfield form-type-textfield js-form-item-lastname form-item-lastname form-no-label form-group col-auto">
                        <input  ngModel placeholder="APELLIDOS" td-type="lastname" data-drupal-selector="edit-lastname"
                            type="text" id="edit-lastname" name="lastname" value="" size="60" maxlength="128"
                            class="form-text required form-control" required="required" aria-required="true">

                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-number form-type-number js-form-item-document form-item-document form-no-label form-group col-auto">
                        <input ngModel placeholder="D.N.I" data-disable-refocus="1" td-type="dni"
                            data-drupal-selector="edit-document" type="number" id="edit-document" name="document"
                            value="" step="1" class="form-number required form-control" required="required"
                            aria-required="true">

                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-textfield form-type-textfield js-form-item-birthday form-item-birthday form-no-label form-group col-auto">
                        <input ngModel placeholder="DÍA/MES/AÑO" td-type="dateofbirth" data-drupal-selector="edit-birthday"
                            type="text" id="edit-birthday" name="birthday" value="" size="60" maxlength="128"
                            class="form-text required form-control" required="required" aria-required="true">

                    </fieldset>
                </div>
                <div data-drupal-selector="edit-box-row-right" id="edit-box-row-right"
                    class="js-form-wrapper form-group col-auto">


                    <fieldset
                        class="js-form-item js-form-type-select form-type-select js-form-item-gender form-item-gender form-no-label form-group col-auto">

                        <select ngModel td-type="gender" data-drupal-selector="edit-gender" id="edit-gender" name="gender"
                            class="form-select required form-control" required="required" aria-required="true">
                            <option value="" selected="selected">Género</option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-number form-type-number js-form-item-phone form-item-phone form-no-label form-group col-auto">
                        <input ngModel placeholder="CELULAR" min="1" step="1" td-type="cellphone"
                            data-drupal-selector="edit-phone" type="number" id="edit-phone" name="phone" value=""
                            class="form-number required form-control" required="required" aria-required="true">

                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label form-group col-auto">
                        <input ngModel placeholder="CORREO" td-type="email" data-drupal-selector="edit-email" type="email"
                            id="edit-email" name="email" value="" size="60" maxlength="254"
                            class="form-email required form-control" required="required" aria-required="true">

                    </fieldset>



                    <fieldset
                        class="js-form-item js-form-type-select form-type-select js-form-item-city form-item-city form-no-label form-group col-auto">

                        <select ngModel td-type="district" data-drupal-selector="edit-city" id="edit-city" name="city"
                            class="form-select required form-control" required="required" aria-required="true">
                            <option value="">Departamento</option>
                            <option value="1838">Amazonas</option>
                            <option value="1839">Áncash</option>
                            <option value="1840">Apurímac</option>
                            <option value="1841">Arequipa</option>
                            <option value="1842">Ayacucho</option>
                            <option value="1843">Cajamarca</option>
                            <option value="1844">Cusco</option>
                            <option value="1845">Huancavelica</option>
                            <option value="1846">Huánuco</option>
                            <option value="1847">Ica</option>
                            <option value="1848">Junín</option>
                            <option value="1849">La Libertad</option>
                            <option value="1850">Lambayeque</option>
                            <option value="1851" selected="selected">Lima</option>
                            <option value="1852">Loreto</option>
                            <option value="1853">Madre de Dios</option>
                            <option value="1854">Moquegua</option>
                            <option value="1855">Pasco</option>
                            <option value="1856">Piura</option>
                            <option value="1857">Puno</option>
                            <option value="1858">San Martín</option>
                            <option value="1859">Tacna</option>
                            <option value="1860">Tumbes</option>
                            <option value="1861">Ucayali</option>
                        </select>
                    </fieldset>
                </div>
                <div data-drupal-selector="edit-box-bottom" id="edit-box-bottom"
                    class="js-form-wrapper form-group col-auto">
                    <div data-drupal-selector="edit-box-wrapper-left" id="edit-box-wrapper-left"
                        class="js-form-wrapper form-group col-auto">


                        <div
                            class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-terms form-item-terms">
                            <input ngModel td-type="TC-PP" data-drupal-selector="edit-terms" type="checkbox" id="edit-terms"
                                name="terms" value="1" class="form-checkbox required form-check-input"
                                required="required" aria-required="true">
                            <label
                                class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-terms form-item-terms form-check-label"
                                for="edit-terms">
                                Acepto <a href="/node/2" target="_blank">términos y condiciones</a> y <a
                                    href="https://dp-server-copec.azurewebsites.net/terminosycondicionessitios/Budweiser/pe/warehouse/POL%C3%8DTICA%20DE%20TRATAMIENTO%20DE%20DATOS%20PERSONALES%20PER%C3%9A.PDF"
                                    target="_blank">Políticas de Privacidad</a>
                            </label>
                        </div>



                        <div
                            class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-marketing form-item-marketing">
                            <input ngModel td-type="marketing-activation" data-drupal-selector="edit-marketing" type="checkbox"
                                id="edit-marketing" name="marketing" value="1" class="form-checkbox form-check-input">
                            <label
                                class="js-form-item js-form-type-checkbox checkbox form-check js-form-item-marketing form-item-marketing form-check-label"
                                for="edit-marketing">
                                Deseo recibir información comercial y eventos de Backus y sus marcas asociadas.
                            </label>
                        </div>
                    </div>
                    <div data-drupal-selector="edit-box-wrapper-right" id="edit-box-wrapper-right"
                        class="js-form-wrapper form-group col-auto">
                        <div data-drupal-selector="edit-actions"
                            class="form-actions js-form-wrapper form-group col-auto" id="edit-actions"><button
                                data-drupal-selector="submit" type="submit" id="submit" name="op" value="FINALIZAR"
                                class="button button--primary js-form-submit form-submit btn btn-primary">FINALIZAR</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</section>